wheel~=0.34.2
sseclient-py~=1.7
numpy
twine~=3.1.1
setuptools~=40.8.0
pyyaml~=5.1.2
requests~=2.22.0
requests_toolbelt~=0.9.1
hydro-serving-grpc==2.1.0
pandas==1.0.3

requests_mock>=1.7.0
pytest>=3.8.0